button {
    background-color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    border: 0.5px solid rgb(151, 151, 151);
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s ease;
}

.dashboard-container {
    width: 85%;
    margin: 25px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.chart,
.led {
    padding: 8px;
    border: 0.5px solid #9d9d9d;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: default;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.title:hover {
    color: #60647e;
    transform: scaleY(1.05);
}

.chart-title {
    gap: 6px;
}

.led-title {
    gap: 2px;
}

.chart {
    grid-column: span 2;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    background-color: #ecf0f1;
}

.led {
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ecf0f1;
}

.led-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0;
    width: 150px;
}

#led-off,
#fan-blade-off {
    max-width: 80%;
}

#fan-blade-off {
    transition: transform 0.3s ease-in-out;
}

.led-button-container {
    display: flex;
    gap: 6px;
    margin: 3px 0;
}

.turn-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 2px 0;
    width: 60px;
}

.turn-buttons:hover {
    color: white;
}

#led-on-button:hover,
#fan-on-button:hover {
    background-color: #ffc900;
}

#led-off-button:hover,
#fan-off-button:hover {
    background-color: #6c6c6c;
}

.turn-buttons.active {
    color: rgb(255, 255, 255);
    cursor: default;
}

#led-off-button.active,
#fan-off-button.active {
    background-color: #6c6c6c;
    box-shadow: 2px 0px 8px 3px rgba(108, 108, 108, 0.5);
}

#led-on-button.active,
#fan-on-button.active {
    background-color: #ffc900;
    box-shadow: 1px 0 10px 4px rgba(255, 217, 80, 0.7);
    border: hidden;
}

.turn-buttons:not(.active) {
    opacity: 0.7;
    transform: scale(0.85);
}

.turn-icons {
    margin-bottom: 1.75px;
}

.off {
    color: rgb(202, 81, 81);
}

.on {
    color: rgb(0, 255, 119);
}

#fan-blade-off.on {
    animation: spin 1s linear infinite;
}

#fan-blade-off.off {
    transform: rotate(0deg);
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}